In [1]:
import sys
sys.path.insert(0, '/home/christo/notebooks/christo/prod/')
sys.path.insert(0, '/home/christo/notebooks/christo/company_maintenance_scripts/')
import re
import pandas as pd
from NedbankSpendPy import  client
import time

In [2]:
from nedbank_companies_addition_lib import maxindexfn, mongo_regex_searchstring
from nedbank_companies_addition_lib import nedbankcompany_class_check, classlookupfn, input_dict_fn, mongo_regex_searchstring_row
from nedbank_companies_addition_lib import  nedbank_companies_db, regex_searchstring

In [3]:
def agg_fn(collection):
    return pd.DataFrame(
    list(collection.aggregate([{'$match':
                                                        {
                                                            'companyname':
                                                            {
                                                                '$exists':True
                                                            }
                                                        }
                                                       },
                                                       {'$project':{'companyname':1,
                                                                    'companyindex':1,
                                                                   'TransactionAmount':1}},
                                                       {
                                                           '$group':
                                                           {
                                                               '_id':
                                                               {
                                                                   'companyname':'$companyname',
                                                                   'companyindex':'$companyindex'
                                                               },
                                                               "transactioncount":
                                                               {
                                                                   '$sum': 1
                                                               },
                                                               "transactionamount":
                                                               {
                                                                   '$sum':'$TransactionAmount'
                                                               }
                                                           }
                                                       },
                                                       {'$project':{'_id':0,'companyname':'$_id.companyname',
                                                                    'companyindex':'$_id.companyindex',
                                                                   'transactioncount':1,
                                                                   'transactionamount':1}}
                                                      ], allowDiskUse=True)))

In [53]:
def franchise_agg_fn(collection):
    return pd.DataFrame(
    list(collection.aggregate([{'$match':
                                                        {
                                                            'companyname':
                                                            {
                                                                '$exists':True
                                                            }
                                                        }
                                                       },
                                                       {'$project':{'franchisename':1,
                                                                    'Dedupegroup':1,
                                                                    'TransactionDate':1,
#                                                                     'companyindex':1,
                                                                   'TransactionAmount':1}},
                                                       {
                                                           '$group':
                                                           {
                                                               '_id':
                                                               {
                                                                   'dedupegroup':'$Dedupegroup',
                                                                   'transactiondate':'$TransactionDate',
#                                                                    'franchisename':'$franchisename'
                                                               },
                                                               "franchisenameset":{"$addToSet":'$franchisename'},
                                                               "transactioncount":
                                                               {
                                                                   '$sum': 1
                                                               },
                                                               "transactionamount":
                                                               {
                                                                   '$sum':'$TransactionAmount'
                                                               }
                                                           }
                                                       },
                               {
                                   '$match':
                                   {
                                       'franchisenameset':{ '$in': [ 'PNP ON NICOL' ] }
                                   }
                                   
                               },
                                                       {'$project':{'_id':0,'dedupegroup':'$_id.dedupegroup',
                                                                    'franchisenameset':'$franchisenameset',
#                                                                     'n_uniqueclients':{'$size': "$uniqueclientlist"},
                                                                    'transactiondate':'$_id.transactiondate',
                                                                   'transactioncount':1,
                                                                   'transactionamount':1}}
                                                      ], allowDiskUse=True)))

In [54]:
collectionlist=['clientswipes_201701','clientswipes_201702','clientswipes_201703',
                'clientswipes_201704','clientswipes_201705','clientswipes_201706',
                'clientswipes_201707','clientswipes_201708','clientswipes_201709',
                'clientswipes_201710','clientswipes_201711','clientswipes_201712',
                'clientswipes_201801','clientswipes_201802','clientswipes_201803',
                'clientswipes_201804','clientswipes_201805','clientswipes_201806',
                'clientswipes_201807','clientswipes_201808','clientswipes_201809',
                'clientswipes_201810','clientswipes_201811','clientswipes_201812',                
                'clientswipes_201901','clientswipes_201902','clientswipes_201903',
                'clientswipes_201904','clientswipes_201905','clientswipes_201906',
                'clientswipes_201907','clientswipes_201908','clientswipes_201909',
                'clientswipes_201910','clientswipes_201911','clientswipes_201912']

In [55]:
from datetime import datetime

In [56]:
collectionname=collectionlist[0]
collection=client.behaviourdb[collectionname]
df=franchise_agg_fn(collection)

In [37]:
df

,dedupegroup,franchisenameset,transactionamount,transactioncount,transactiondate
0,1.100063e+11,"[Fournos Dunkeld, Checkers BalfourPark]",-150.19,2,2017-01-05
1,1.100063e+11,"[Fournos Dunkeld, WOOLWORTHS PARKTOWN, PAYU: D...",-1739.99,4,2017-01-26
2,1.100066e+11,[Fournos Dunkeld],-70.00,1,2017-01-15
3,1.100066e+11,[Fournos Dunkeld],-148.00,1,2017-01-17
4,1.100076e+11,[Fournos Dunkeld],-370.00,1,2017-01-14
5,1.100076e+11,"[Fournos Dunkeld, Clicks Hyde Park]",-352.05,2,2017-01-27
6,1.100078e+11,[Fournos Dunkeld],-59.80,1,2017-01-25
7,1.100102e+11,[Fournos Dunkeld],-121.80,1,2017-01-18
8,1.100106e+11,[Fournos Dunkeld],-381.50,1,2017-01-21
9,1.100138e+11,"[Fournos Dunkeld, WOOLWORTHS GREENSIDE, DOPPIO...",-2424.70,3,2017-01-28
10,1.100138e+11,[Fournos Dunkeld],-568.80,1,2017-01-29
11,1.100154e+11,"[WOOLWORTHS ROSEBANK B, Fournos Dunkeld]",-356.29,2,2017-01-10
12,1.100169e+11,[Fournos Dunkeld],-230.00,1,2017-01-27
13,1.100170e+11,[Fournos Dunkeld],-44.90,1,2017-01-06
14,1.100180e+11,[Fournos Dunkeld],-50.04,1,2017-01-22
15,1.100181e+11,[Fournos Dunkeld],-372.00,1,2017-01-28
16,1.100182e+11,"[WOOLWORTHS PARKTOWN QUATE, Fournos Dunkeld]",-448.34,2,2017-01-09
17,1.100182e+11,[Fournos Dunkeld],-68.60,1,2017-01-24
18,1.100188e+11,"[TOTAL BRYANSTON, Fournos Dunkeld]",-680.70,2,2017-01-02
19,1.100188e+11,[Fournos Dunkeld],-174.00,1,2017-01-05
20,1.100188e+11,"[PnP Fam Honey JunctionN, PnP Crp Randparkridg...",-595.27,3,2017-01-24
21,1.100190e+11,"[WOOLWORTHS BRYNSTON JH, Fournos Dunkeld, ITUN...",-807.19,3,2017-01-11
22,1.100190e+11,[Fournos Dunkeld],-357.72,1,2017-01-14
23,1.100190e+11,[Fournos Dunkeld],-20.34,1,2017-01-21
24,1.100191e+11,[Fournos Dunkeld],-79.00,1,2017-01-15
25,1.100191e+11,[Fournos Dunkeld],-125.00,1,2017-01-30
26,1.100191e+11,"[DUNKELD MICA, Fournos Dunkeld]",-206.21,2,2017-01-19
27,1.100192e+11,"[PnP Crp Hydepark, Clicks Hyde Park, UBER SA H...",-2034.28,6,2017-01-27
28,1.100192e+11,"[WOOLWORTHS MORNINGSI, Fournos Dunkeld, EXCLUS...",-1177.93,3,2017-01-23
29,1.100195e+11,"[Makro Woodme, Fournos Dunkeld]",-2411.40,2,2017-01-30
...,...,...,...,...,...
770,1.918498e+11,[Fournos Dunkeld],-278.30,1,2017-01-26
771,1.918756e+11,"[TOTAL BOSCHKOP, SASOL RANDBURG, Fournos Dunkeld]",-534.26,3,2017-01-18
772,1.919039e+11,[Fournos Dunkeld],-69.00,1,2017-01-20
773,1.919354e+11,[Fournos Dunkeld],-43.80,1,2017-01-15
774,1.919866e+11,"[Fournos Dunkeld, Fournos Bakery D]",-396.08,2,2017-01-27
775,1.930074e+11,[Fournos Dunkeld],-96.24,1,2017-01-13
776,1.930175e+11,"[SASOL OLIVEDALE, Fournos Dunkeld]",-214.77,2,2017-01-25
777,1.930255e+11,"[WOOLWORTHS MAROUN SQUARE, Fournos Dunkeld]",-1392.95,2,2017-01-03
778,1.930358e+11,"[PnP Hpr Norwood, Fournos Dunkeld]",-761.45,2,2017-01-05
779,1.930459e+11,"[Fournos Dunkeld, BP ZOO LAKE GARAGE]",-750.50,2,2017-01-24
780,1.930479e+11,"[PARK INN HOTEL, WOOLWORTHS BENMORE GAR, MUGG ...",-1875.89,4,2017-01-05
781,1.935042e+11,"[WOOLWORTHS HYDEPARK, Fournos Dunkeld]",-355.38,2,2017-01-14
782,1.940691e+11,[Fournos Dunkeld],-80.77,1,2017-01-19
783,1.940691e+11,[Fournos Dunkeld],-82.80,1,2017-01-23
784,1.940749e+11,"[WOOLWORTHS MIDDELBUR, TRAC MIDDELBURG PLAZA, ...",-340.56,3,2017-01-03
785,2.110331e+11,"[WOOLWORTHS CR/TRENERY, Fournos Dunkeld, UBER ...",-1667.70,4,2017-01-18
786,2.111120e+11,[Fournos Dunkeld],-105.30,1,2017-01-25
787,2.111120e+11,[Fournos Dunkeld],-127.88,1,2017-01-27
788,2.111532e+11,"[UBER *ZA JAN QZD, Fournos Dunkeld]",-296.00,2,2017-01-16
789,2.111922e+11,[Fournos Dunkeld],-218.03,1,2017-01-16
790,2.112599e+11,[Fournos Dunkeld],-86.12,1,2017-01-14
791,2.112735e+11,"[UBER ZA JAN HNTMF HE, Fournos Dunkeld]",-150.58,2,2017-01-16
792,2.112783e+11,"[Fournos Dunkeld, HUTTON HYDE PARK BP]",-440.81,2,2017-01-24
793,2.112972e+11,"[WOOLWORTHS- BRYAN PA, Fournos Dunkeld]",-2237.46,2,2017-01-26
794,2.113926e+11,"[UBER ZA JAN PGSVC HE, Fournos Dunkeld, DIS-CH...",-547.95,3,2017-01-24
795,2.113989e+11,"[UBER *ZA JAN SXQP, UBER *ZA JAN ZNJU, UBE...",-666.16,4,2017-01-11
796,2.114013e+11,"[MCD Sandton R & R (), Fournos Dunkeld, CALTEX...",-418.40,3,2017-01-20
797,2.114129e+11,[Fournos Dunkeld],-43.70,1,2017-01-18
798,2.114464e+11,"[WOOLWORTHS ROSEBANK B, Fournos Dunkeld, THE...",-983.76,3,2017-01-02
799,2.114568e+11,[Fournos Dunkeld],-76.20,1,2017-01-23

In [27]:
list(df)

['dedupegroup',
 'franchisenameset',
 'transactionamount',
 'transactioncount',
 'transactiondate']

In [38]:
result_dict={}
for franchisenameset in list(df.franchisenameset):
    for franchisename in franchisenameset:
        if franchisename in result_dict:
            result_dict[franchisename]+=1
        else:
            result_dict[franchisename]=1

In [39]:
result_dict

{'ABSOLUTE PETS-HYDE P': 1,
 'ACKERMANS SAND': 1,
 'ACSA JIA': 2,
 'ADIDAS MALL OF AFRICA HOM': 1,
 'ALZU PETROPORT N': 1,
 'AMAZON DIGITAL DWNLDS': 1,
 'AMAZON SERVICES-KINDLE': 1,
 'Amazon Services-Kindle': 1,
 'BP BIRDHAVEN': 1,
 'BP GALLO MANOR': 1,
 'BP LINDEN PA': 1,
 'BP MALIBONGWE': 1,
 'BP OLIVEDALE': 1,
 'BP RIDGE OAS': 1,
 'BP SMIT STREET': 1,
 'BP WILLIAM NIC': 1,
 'BP ZOO LAKE GARAGE': 1,
 'BWH FOURWAYS': 1,
 'BWH FOURWAYS          YS': 1,
 'BWH RIVONIA': 2,
 'CALTEX CEDAR ROAD': 1,
 'CALTEX LOUIS BOTHA': 1,
 'CALTEX OAKLANDS': 2,
 'CALTEX ROSEBANK': 1,
 'CALTEX WENDYWOOD SER': 1,
 'CAPE UNION MART- HYDE AR': 1,
 'CHECKERS HYPER SANDTON': 1,
 'CNA BLAIRGOWRIE': 1,
 'CNA KILLARNEY': 2,
 'CNA SANDTON CITY': 2,
 'COMPUTICKET CALL CEN': 1,
 'COTTON ON KIDS ROSEBAN': 1,
 'COTTON ON ROSEBANK COC': 1,
 'COTTON ON SANDTON COC': 1,
 'COTTON ON SANDTON COC UAR': 1,
 'CRAZY PLASTICS RANDB': 1,
 'Checkers BalfourPark': 2,
 'Checkers Bryanston': 1,
 'Checkers Emmarentia': 5,
 'Checkers LS Nicolway': 1,
 'Checkers Leaping Frog': 1,
 'Checkers Nicolway': 1,
 'Checkers Sandton': 1,
 'Checkers Seapoint': 1,
 'CheckersHyper FourwaysS': 1,
 'Clicks Broad Acres': 1,
 'Clicks Dougasdale': 1,
 'Clicks Hyde Park': 10,
 'Clicks Oliveda': 1,
 'Clicks Olivedale': 2,
 'Clicks Rosebank mall': 3,
 'Clicks Sandton': 1,
 'Clicks Thrupps Centre': 1,
 'Clicks Valley Centre': 4,
 'Clicks Wingtip': 1,
 'Cltx Cyrildene S S    ION': 1,
 'DALPARK PLAZA': 1,
 'DION WIRED HYDE PARK -': 2,
 'DIS-CHEM ATHOL OAKLA': 3,
 'DIS-CHEM ATHOL OAKLANDS': 9,
 'DIS-CHEM BENMORE EMV': 1,
 'DIS-CHEM BENMORE EMV NS': 1,
 'DIS-CHEM CRESTA EMV': 1,
 'DIS-CHEM KILLARNEY MAL': 1,
 'DIS-CHEM KILLARNEY MALMAC': 1,
 'DIS-CHEM MONDE': 1,
 'DIS-CHEM NICOLWAY': 1,
 'DIS-CHEM NICOLWAY - CK': 1,
 'DIS-CHEM NORWOOD EMV': 4,
 'DIS-CHEM ROSEBANK': 4,
 'DIS-CHEM ROSEBANK - CK': 4,
 'DIS-CHEM SEA POINT': 1,
 'DIS-CHEM VICTORY PAR': 1,
 'DIS-CHEM VICTORY PARK': 1,
 'DIS-CHEM WOODMEAD': 1,
 'DISCHEM KILLARNEY': 1,
 'DIY DEPOT DOUGLASDAL': 1,
 'DOPPIO ZERO': 3,
 'DUNKELD MICA': 16,
 'DUNKELD MICA HARDWAR': 5,
 'DUNKELD MICA HARDWARE': 2,
 'Debonairs Be': 1,
 'EASYJET*EASYJET ERMXKM-': 1,
 'ENGEN CONRAD CONVENI': 2,
 'ENGEN CONRAD CONVENIENCE': 1,
 'ENGEN HURLINGH': 1,
 'ENGEN NELMAPIUS': 1,
 'ETIHADAIR': 1,
 'EXCLUSIVE BOOKS DAIN': 1,
 'EXCLUSIVE BOOKS HYDE': 1,
 'EXCLUSIVE BOOKS HYDE  ARK': 3,
 'EXCLUSIVE BOOKS KILL  NE': 1,
 'EXCLUSIVE BOOKS MORN': 1,
 'FLYSAFAIR': 2,
 'FOOD LOVERS MARKET B': 1,
 'FOOD LOVERS MARKET N': 2,
 'FOOD LOVERS MARKET NORWOO': 5,
 'FOURNOS BAKERY': 1,
 'FRUIT AND VEG KEMPTO': 1,
 'Fournos Bakery D': 2,
 'Fournos Benmore': 2,
 'Fournos Dunkeld': 800,
 'Fournos Rosebank': 2,
 'Fournos Rosebank      K': 1,
 'GAME BEL-AIR': 1,
 'GAME CRESTA': 1,
 'GAME MALL ROSEBANK': 2,
 'GAUTRAIN PARK TVM': 1,
 'GAUTRAIN ROSEBANK TVM': 2,
 'GAUTRAIN SANDTON TVM': 1,
 'GOSFORTH EAST PLAZA': 1,
 'GOSFORTH PLAZA': 2,
 'GRAYSTON DRIVE BP': 1,
 'GUESS SANDTON': 1,
 'HUTTON HYDE PARK BP': 6,
 'I AFRIHOST.COM': 1,
 'ITUNES.COM/BIL': 3,
 'ITUNES.COM/BILL': 13,
 'KAUAI BENMORE': 1,
 'KAUAI BRYANSTON VIRG': 1,
 'KAUAI JUICE EXPRESS': 1,
 'KENDAL MICA': 1,
 'KFC CRAIGHAL': 1,
 'KFC EMMARENT': 1,
 'KFC EMMARENTIA': 1,
 'KHALIQUES ORIENTAL PLAZA': 1,
 'KULULA COM': 1,
 'KULULA SABR': 1,
 'KULULA SABRE': 2,
 'LIQUOR CITY BEYER NA  DE': 1,
 'LIQUOR CITY CRAIGHAL': 2,
 'LIQUOR CITY JAN SMUT': 2,
 'LiquorShop Fourways   URW': 1,
 'MAKRO WOODMEAD': 3,
 'MANGO AIRLINES': 4,
 'MCD Sandton R & R ()': 1,
 'MF - BURGER KING - EAS': 1,
 'MF - BURGER KING - RIV': 1,
 'MF - NANDOS - MEADOWDA': 1,
 'MINTYS SASOL': 1,
 'MOCHACHOS NORWOOD': 1,
 'MOOI TOLL PLAZ': 1,
 'MR DELIVERY': 1,
 'MR PRICE APPAREL': 1,
 'MR PRICE HOME- NORWOOD': 1,
 'MR PRICE HOME- ROSEB': 1,
 'MR PRICE SPORT CREST': 1,
 'MTN BALFOUR PARK': 1,
 'MTN HYDE PARK': 1,
 'MTN ROSEBANK': 1,
 'MUGG AND BEAN BROADACRLUT': 1,
 'MYTHOS MALL OF AFRICA': 1,
 'Makro Woodme': 1,
 'Makro Woodmead': 2,
 'N SASOL RETAIL': 1,
 'NANDOS FAERI': 1,
 'NANDOS NORWOOD': 1,
 'NANDOS PARKTOWN': 3,
 'NETFLIX.COM': 2,
 'Numetro Hyde': 1,
 'Numetro Hyde Park': 2,
 'ORDERIN PTY LTD': 1,
 'PARK INN HOTEL': 2,
 'PAYU: DStv BoxOffice': 2,
 'PICK N PAY FAMILY COSMO': 1,
 'PLAYSTATIONNETWORK': 2,
 'PNP BENMORE': 1,
 'PNP CLAREMONT': 1,
 'PNP CLOTHING ROSEBAN': 1,
 'PNP CLOTHING ROSEBANK M': 1,
 'PNP COACHMANS CROSSI': 1,
 'PNP CRAIGHALL PARK': 5,
 'PNP ELGIN FAMILY STO': 1,
 'PNP FAMILY OUTSPAN ROAD': 1,
 'PNP FRAN BIRCHLEIGH': 1,
 'PNP HYDEPARK': 6,
 'PNP KILLARNEY': 1,
 'PNP ON NICOL': 6,
 'PNP ROSEBANK': 2,
 'PNP- MELROSE ARCH': 3,
 'PNP- OLIVE DALE': 1,
 'PnP Crp Benmore': 2,
 'PnP Crp Gallomanor': 1,
 'PnP Crp Hydepark': 9,
 'PnP Crp Kensington': 1,
 'PnP Crp Killarney': 1,
 'PnP Crp Morningside': 1,
 'PnP Crp On Nicol': 4,
 'PnP Crp Randparkridge': 2,
 'PnP Fam Coachmans     SSI': 2,
 'PnP Fam Craighall ParkARK': 8,
 'PnP Fam Honey JunctionN': 1,
 'PnP Fam Louis Botha': 1,
 'PnP Fam Northcliff SqrSQ': 1,
 'PnP Fam Outspan Road': 1,
 'PnP Hpr Norwood': 5,
 'Radisson Blu Edwardian Be': 1,
 'SANRAL TCH DEBIT COL': 1,
 'SASOL OLIVEDALE': 1,
 'SASOL RANDBURG': 1,
 'SHELL SANDHURST DELI SION': 1,
 'SHELL SUNNY MOTORS': 1,
 'SHELL ULTRA CITY NOR': 1,
 'SHESHA HEAD': 1,
 'SIMPLY ASIA HOBART': 1,
 'SIMPLY ASIA PARKTOWN': 1,
 'SPAR BLAIRGOWRIE': 2,
 'SPAR CRAIGHALL': 28,
 'SPAR FONTANA MORNING': 2,
 'SPAR LOS ARCOS': 1,
 'SPAR PARKVIEW': 4,
 'SPAR SUPER A NORWOOD': 2,
 'SPORTSCENE SANDTON S': 1,
 'SPORTSMANS WAREHOUSE': 1,
 'STARBUCKS ROSEBANK': 1,
 'STEERS ULTRA N': 1,
 'STER KINEKOR CRESTA': 1,
 'STER KINEKOR MOBI': 1,
 'STER KINEKOR ROSEBAN': 1,
 'STER KINEKOR THEATRE': 1,
 'STER KINEKOR.COM': 1,
 'SUPA QUICK CRAIGHALL  ARK': 1,
 'SUPERSPAR HOBART': 3,
 'SUPERSPAR LYNDHURST': 1,
 'SUPERSPAR MO': 1,
 'SUPERSPAR STEVES BLACKH': 1,
 'Spar Broadacres Spar': 1,
 'Spar FontanaAtholl Spa': 1,
 'Spar LemonGroveKwk Spa': 1,
 'Spar Olivedale': 1,
 'Spar Olivedale Spar': 2,
 'Spar Parkmore Tops': 1,
 'Spar Sandringham Spar': 1,
 'Spar SuperA Norwod Spa': 6,
 'Spar Village Mall Spar': 1,
 'THE CAPITAL ON BATH': 1,
 'TOTAL BOSCHKOP': 1,
 'TOTAL BRYANS': 1,
 'TOTAL BRYANSTON': 1,
 'TOTAL ILLOVO': 3,
 'TOTAL SANDTON DRIVE': 1,
 'TOTAL VILLAGE-C': 1,
 'TOTAL WILLIAM NICOL': 1,
 'TOTALSPORTS SANDTON CION': 1,
 'TOYS R US FOURWAYS': 1,
 'TRAC MIDDELBURG PLAZA': 2,
 'TUGELA TOLL PL': 2,
 'TYPO NICOLWAY   _RE': 1,
 'TYPO ROSEBANK  _RET': 2,
 'TYPO SANDTON    _RE': 1,
 'UBER   *ZA JAN AVPH': 1,
 'UBER   *ZA JAN AZR': 1,
 'UBER   *ZA JAN BWBZQ': 1,
 'UBER   *ZA JAN BYHPT': 1,
 'UBER   *ZA JAN DYCSP': 1,
 'UBER   *ZA JAN EINO': 1,
 'UBER   *ZA JAN EOZH': 1,
 'UBER   *ZA JAN EPQEF': 1,
 'UBER   *ZA JAN GVAQX': 1,
 'UBER   *ZA JAN QXKL': 1,
 'UBER   *ZA JAN QZD': 1,
 'UBER   *ZA JAN RPSSI': 1,
 'UBER   *ZA JAN SXQP': 1,
 'UBER   *ZA JAN UIBP': 1,
 'UBER   *ZA JAN VFXEI': 1,
 'UBER   *ZA JAN WGLTL': 1,
 'UBER   *ZA JAN ZNJU': 1,
 'UBER   *ZA JAN ZXHQ': 1,
 'UBER BV': 12,
 'UBER FR JAN CWPDN HE': 1,
 'UBER NG MMGD HELP.UBE': 1,
 'UBER NG SOP HELP.UBE': 1,
 'UBER SA HELP.U': 1,
 'UBER SA HELP.UBER.CO': 16,
 'UBER ZA JAN': 1,
 'UBER ZA JAN CEUWD HE': 1,
 'UBER ZA JAN DETR HE': 1,
 'UBER ZA JAN EUQ HE': 1,
 'UBER ZA JAN EY HE': 1,
 'UBER ZA JAN HCGYP HE': 1,
 'UBER ZA JAN HNTMF HE': 1,
 'UBER ZA JAN HWJ HE': 1,
 'UBER ZA JAN JLZ HE': 1,
 'UBER ZA JAN KALNM HE': 1,
 'UBER ZA JAN KKKT HE': 1,
 'UBER ZA JAN MRCG HE': 1,
 'UBER ZA JAN NHG HE': 1,
 'UBER ZA JAN OLIP HE': 1,
 'UBER ZA JAN OXGGH HE': 1,
 'UBER ZA JAN PGSVC HE': 1,
 'UBER ZA JAN TVXPQ HELP.': 1,
 'UBER ZA JAN UTVGX HE': 1,
 'UBER ZA JAN UVUH HE': 1,
 'UBER ZA JAN YIQS HE': 1,
 'UBER ZA JAN YOE HE': 1,
 'UBER ZA JAN YTM HELP.': 1,
 'UBER ZA JAN ZLVZ HE': 1,
 'UBER ZA JAN ZPVGZ HE': 1,
 'UBER ZA JAN ZVGKN HE': 1,
 'UBER ZA JAN ZXBKY HE': 1,
 'UBER ZA JAN ZZSCA HELP.': 1,
 'ULTRA LIQUORS BLAIRG': 1,
 'ULTRA LIQUORS BLAIRGOWRIE': 1,
 'ULTRA LIQUORS PARKVI': 3,
 'VIDA E CAFFE LANSERI': 1,
 'VIRGIN ACTIVE': 1,
 'VODACOM BY ZAMOBILE': 1,
 'VODACOM SERVICE PROVIDE': 1,
 'WILGE TOLL PLA': 2,
 'WIMPY RESTAURANT HARRI': 1,
 'WIMPY SANDTON': 1,
 'WIMPY WOODMEAD': 1,
 'WOOLWORTHS BALFOUR PARRK': 1,
 'WOOLWORTHS BENMORE G': 2,
 'WOOLWORTHS BENMORE GAR': 5,
 'WOOLWORTHS BLAIRGOWR': 3,
 'WOOLWORTHS BLAIRGOWRIEIE': 1,
 'WOOLWORTHS BLUBIRD C': 2,
 'WOOLWORTHS BLUBIRD CEN': 8,
 'WOOLWORTHS BLUBIRD CENT': 1,
 'WOOLWORTHS BLUBIRTRE': 1,
 'WOOLWORTHS BRYNSTON': 1,
 'WOOLWORTHS BRYNSTON JH': 1,
 'WOOLWORTHS CANTEBURY': 2,
 'WOOLWORTHS CANTEBURY CROS': 2,
 'WOOLWORTHS CLUB ROAD': 3,
 'WOOLWORTHS CLUB ROAD J': 2,
 'WOOLWORTHS CR/TRENERY': 1,
 'WOOLWORTHS CR/TRENERY S': 1,
 'WOOLWORTHS CRESTA JH': 1,
 'WOOLWORTHS FAE': 1,
 'WOOLWORTHS GRAND AVE': 1,
 'WOOLWORTHS GRAND AVENU': 1,
 'WOOLWORTHS GRAYSTONE': 1,
 'WOOLWORTHS GRAYSTONE RON': 3,
 'WOOLWORTHS GREENSIDE': 1,
 'WOOLWORTHS HAN': 1,
 'WOOLWORTHS HANS STRI': 2,
 'WOOLWORTHS HYD': 1,
 'WOOLWORTHS HYDEPARK': 9,
 'WOOLWORTHS HYDEPARK JH': 19,
 'WOOLWORTHS HYDEPARK JHB': 2,
 'WOOLWORTHS KILLARNEY': 1,
 'WOOLWORTHS KILLARNEY M': 3,
 'WOOLWORTHS KILLARNEY MA': 1,
 'WOOLWORTHS LINKSFIELD D': 1,
 'WOOLWORTHS MALL OF A': 1,
 'WOOLWORTHS MAROUN SQ': 1,
 'WOOLWORTHS MAROUN SQUARE': 2,
 'WOOLWORTHS MELROSE A': 1,
 'WOOLWORTHS MELROSE ARCH': 1,
 'WOOLWORTHS MELROSE ARCRCH': 3,
 'WOOLWORTHS MIDDELBUR': 1,
 'WOOLWORTHS MORNINGSI': 1,
 'WOOLWORTHS MORNINGSIDE': 1,
 'WOOLWORTHS MORNINGSIDEIDE': 1,
 'WOOLWORTHS NEW REDRUTH': 1,
 'WOOLWORTHS NICHOL WAY AY': 1,
 'WOOLWORTHS NORTHWOLD J': 1,
 'WOOLWORTHS NORWOOD MALALL': 2,
 'WOOLWORTHS NORWOOD MALL': 1,
 'WOOLWORTHS OR TAMBO': 1,
 'WOOLWORTHS PARKTOWN': 5,
 'WOOLWORTHS PARKTOWN QUATE': 4,
 'WOOLWORTHS PARKWOOD': 2,
 'WOOLWORTHS PARKWOOD JH': 4,
 'WOOLWORTHS PAULSHOF': 1,
 'WOOLWORTHS PTY LTD-': 1,
 'WOOLWORTHS RIVONIA JHB': 1,
 'WOOLWORTHS ROS': 1,
 'WOOLWORTHS ROSEBANK': 8,
 'WOOLWORTHS ROSEBANK   B': 10,
 'WOOLWORTHS SANDTON C': 1,
 'WOOLWORTHS SANDTON CIT': 2,
 'WOOLWORTHS SANDTON CITY': 4,
 'WOOLWORTHS SUMMIT RO': 1,
 'WOOLWORTHS VALLEY CE': 2,
 'WOOLWORTHS VALLEY CENTNTR': 9,
 'WOOLWORTHS VALLEY CENTR': 5,
 'WOOLWORTHS VICTORY P': 2,
 'WOOLWORTHS VICTORY PARK': 3,
 'WOOLWORTHS WATERMEYE': 1,
 'WOOLWORTHS- BRYAN PA': 1,
 'ZARA SANDTON CITY': 1,
 'www.flymango.com': 1}

In [47]:
sorted_result_dict = sorted(result_dict.items(), key=lambda kv: kv[1], reverse=True)

In [52]:
# list(sorted_result_dict)
[sorted_result_dict[ind][0] for ind in range(len(sorted_result_dict))]

['Fournos Dunkeld',
 'SPAR CRAIGHALL',
 'WOOLWORTHS HYDEPARK JH',
 'DUNKELD MICA',
 'UBER SA HELP.UBER.CO',
 'ITUNES.COM/BILL',
 'UBER BV',
 'Clicks Hyde Park',
 'WOOLWORTHS ROSEBANK   B',
 'PnP Crp Hydepark',
 'DIS-CHEM ATHOL OAKLANDS',
 'WOOLWORTHS HYDEPARK',
 'WOOLWORTHS VALLEY CENTNTR',
 'PnP Fam Craighall ParkARK',
 'WOOLWORTHS BLUBIRD CEN',
 'WOOLWORTHS ROSEBANK',
 'HUTTON HYDE PARK BP',
 'PNP HYDEPARK',
 'PNP ON NICOL',
 'Spar SuperA Norwod Spa',
 'WOOLWORTHS PARKTOWN',
 'WOOLWORTHS BENMORE GAR',
 'WOOLWORTHS VALLEY CENTR',
 'Checkers Emmarentia',
 'PNP CRAIGHALL PARK',
 'DUNKELD MICA HARDWAR',
 'FOOD LOVERS MARKET NORWOO',
 'PnP Hpr Norwood',
 'WOOLWORTHS PARKTOWN QUATE',
 'DIS-CHEM ROSEBANK',
 'WOOLWORTHS SANDTON CITY',
 'Clicks Valley Centre',
 'DIS-CHEM NORWOOD EMV',
 'PnP Crp On Nicol',
 'SPAR PARKVIEW',
 'MANGO AIRLINES',
 'WOOLWORTHS PARKWOOD JH',
 'DIS-CHEM ROSEBANK - CK',
 'DOPPIO ZERO',
 'WOOLWORTHS GRAYSTONE RON',
 'TOTAL ILLOVO',
 'ITUNES.COM/BIL',
 'WOOLWORTHS VICTORY PARK',
 'ULTRA LIQUORS PARKVI',
 'WOOLWORTHS KILLARNEY M',
 'NANDOS PARKTOWN',
 'Clicks Rosebank mall',
 'WOOLWORTHS CLUB ROAD',
 'WOOLWORTHS BLAIRGOWR',
 'WOOLWORTHS MELROSE ARCRCH',
 'DIS-CHEM ATHOL OAKLA',
 'SUPERSPAR HOBART',
 'MAKRO WOODMEAD',
 'EXCLUSIVE BOOKS HYDE  ARK',
 'PNP- MELROSE ARCH',
 'Checkers BalfourPark',
 'PAYU: DStv BoxOffice',
 'PnP Crp Randparkridge',
 'DION WIRED HYDE PARK -',
 'FLYSAFAIR',
 'SPAR SUPER A NORWOOD',
 'PLAYSTATIONNETWORK',
 'WOOLWORTHS HANS STRI',
 'WOOLWORTHS VALLEY CE',
 'Clicks Olivedale',
 'SPAR FONTANA MORNING',
 'Numetro Hyde Park',
 'Fournos Rosebank',
 'PnP Crp Benmore',
 'SPAR BLAIRGOWRIE',
 'WOOLWORTHS SANDTON CIT',
 'CNA KILLARNEY',
 'TYPO ROSEBANK  _RET',
 'GAUTRAIN ROSEBANK TVM',
 'BWH RIVONIA',
 'FOOD LOVERS MARKET N',
 'WOOLWORTHS BLUBIRD C',
 'WOOLWORTHS MAROUN SQUARE',
 'WOOLWORTHS CLUB ROAD J',
 'WOOLWORTHS CANTEBURY CROS',
 'WOOLWORTHS NORWOOD MALALL',
 'WOOLWORTHS VICTORY P',
 'PNP ROSEBANK',
 'GAME MALL ROSEBANK',
 'Makro Woodmead',
 'CALTEX OAKLANDS',
 'ACSA JIA',
 'WOOLWORTHS PARKWOOD',
 'GOSFORTH PLAZA',
 'LIQUOR CITY CRAIGHAL',
 'NETFLIX.COM',
 'ENGEN CONRAD CONVENI',
 'KULULA SABRE',
 'LIQUOR CITY JAN SMUT',
 'TRAC MIDDELBURG PLAZA',
 'PARK INN HOTEL',
 'PnP Fam Coachmans     SSI',
 'CNA SANDTON CITY',
 'Fournos Bakery D',
 'WILGE TOLL PLA',
 'TUGELA TOLL PL',
 'Spar Olivedale Spar',
 'WOOLWORTHS HYDEPARK JHB',
 'DUNKELD MICA HARDWARE',
 'WOOLWORTHS BENMORE G',
 'Fournos Benmore',
 'WOOLWORTHS CANTEBURY',
 'COMPUTICKET CALL CEN',
 'WOOLWORTHS GREENSIDE',
 'TOTAL BRYANSTON',
 'PnP Fam Honey JunctionN',
 'WOOLWORTHS BRYNSTON JH',
 'WOOLWORTHS MORNINGSI',
 'EXCLUSIVE BOOKS MORN',
 'Makro Woodme',
 'PNP KILLARNEY',
 'WOOLWORTHS NORTHWOLD J',
 'LIQUOR CITY BEYER NA  DE',
 'CNA BLAIRGOWRIE',
 'PnP Crp Morningside',
 'DIS-CHEM BENMORE EMV NS',
 'UBER   *ZA JAN QXKL',
 'WOOLWORTHS MELROSE A',
 'KFC CRAIGHAL',
 'KFC EMMARENT',
 'BP BIRDHAVEN',
 'Clicks Thrupps Centre',
 'BP MALIBONGWE',
 'ABSOLUTE PETS-HYDE P',
 'Clicks Dougasdale',
 'WOOLWORTHS LINKSFIELD D',
 'PNP FAMILY OUTSPAN ROAD',
 'SPORTSCENE SANDTON S',
 'UBER   *ZA JAN AVPH',
 'WOOLWORTHS NEW REDRUTH',
 'VODACOM BY ZAMOBILE',
 'SIMPLY ASIA PARKTOWN',
 'WOOLWORTHS NICHOL WAY AY',
 'LiquorShop Fourways   URW',
 'CheckersHyper FourwaysS',
 'UBER FR JAN CWPDN HE',
 'UBER ZA JAN TVXPQ HELP.',
 'UBER   *ZA JAN WGLTL',
 'VODACOM SERVICE PROVIDE',
 'DIS-CHEM BENMORE EMV',
 'STER KINEKOR.COM',
 'WOOLWORTHS CRESTA JH',
 'MR PRICE SPORT CREST',
 'ULTRA LIQUORS BLAIRG',
 'WOOLWORTHS NORWOOD MALL',
 'TOTALSPORTS SANDTON CION',
 'Clicks Sandton',
 'CALTEX ROSEBANK',
 'MINTYS SASOL',
 'UBER ZA JAN ZXBKY HE',
 'SUPERSPAR STEVES BLACKH',
 'WOOLWORTHS RIVONIA JHB',
 'GAUTRAIN PARK TVM',
 'EXCLUSIVE BOOKS KILL  NE',
 'SANRAL TCH DEBIT COL',
 'UBER ZA JAN ZVGKN HE',
 'UBER ZA JAN NHG HE',
 'UBER ZA JAN KALNM HE',
 'COTTON ON KIDS ROSEBAN',
 'WOOLWORTHS MAROUN SQ',
 'EXCLUSIVE BOOKS DAIN',
 'WOOLWORTHS PTY LTD-',
 'UBER ZA JAN ZPVGZ HE',
 'UBER ZA JAN UVUH HE',
 'UBER ZA JAN OLIP HE',
 'UBER ZA JAN KKKT HE',
 'WOOLWORTHS MORNINGSIDEIDE',
 'MR DELIVERY',
 'UBER ZA JAN HWJ HE',
 'UBER ZA JAN CEUWD HE',
 'UBER ZA JAN JLZ HE',
 'WOOLWORTHS SUMMIT RO',
 'Checkers Seapoint',
 'DIS-CHEM SEA POINT',
 'UBER ZA JAN YOE HE',
 'UBER ZA JAN UTVGX HE',
 'UBER ZA JAN EY HE',
 'UBER ZA JAN OXGGH HE',
 'PnP Crp Gallomanor',
 'UBER ZA JAN DETR HE',
 'BP GALLO MANOR',
 'FRUIT AND VEG KEMPTO',
 'MOCHACHOS NORWOOD',
 'DISCHEM KILLARNEY',
 'NANDOS NORWOOD',
 'STER KINEKOR ROSEBAN',
 'STER KINEKOR MOBI',
 'DIS-CHEM KILLARNEY MALMAC',
 'TOYS R US FOURWAYS',
 'UBER   *ZA JAN VFXEI',
 'WOOLWORTHS HAN',
 'ULTRA LIQUORS BLAIRGOWRIE',
 'MTN HYDE PARK',
 'MR PRICE HOME- NORWOOD',
 'Spar FontanaAtholl Spa',
 'FOURNOS BAKERY',
 'Spar Sandringham Spar',
 'DIS-CHEM VICTORY PAR',
 'SIMPLY ASIA HOBART',
 'GAME BEL-AIR',
 'WOOLWORTHS BLUBIRTRE',
 'ORDERIN PTY LTD',
 'MR PRICE HOME- ROSEB',
 'COTTON ON ROSEBANK COC',
 'DIS-CHEM MONDE',
 'WOOLWORTHS BLUBIRD CENT',
 'WOOLWORTHS ROS',
 'WOOLWORTHS KILLARNEY',
 'CALTEX WENDYWOOD SER',
 'SUPA QUICK CRAIGHALL  ARK',
 'AMAZON DIGITAL DWNLDS',
 'WOOLWORTHS GRAND AVENU',
 'WOOLWORTHS KILLARNEY MA',
 'UBER ZA JAN YTM HELP.',
 'SHESHA HEAD',
 'SUPERSPAR LYNDHURST',
 'MTN BALFOUR PARK',
 'KULULA SABR',
 'WOOLWORTHS MELROSE ARCH',
 'WOOLWORTHS FAE',
 'NANDOS FAERI',
 'UBER ZA JAN',
 'KHALIQUES ORIENTAL PLAZA',
 'ENGEN HURLINGH',
 'PNP CLOTHING ROSEBAN',
 'WIMPY SANDTON',
 'PnP Fam Northcliff SqrSQ',
 'DIS-CHEM CRESTA EMV',
 'WIMPY WOODMEAD',
 'WOOLWORTHS BALFOUR PARRK',
 'MF - NANDOS - MEADOWDA',
 'PNP FRAN BIRCHLEIGH',
 'MF - BURGER KING - RIV',
 'PNP ELGIN FAMILY STO',
 'WOOLWORTHS BRYNSTON',
 'TYPO NICOLWAY   _RE',
 'Checkers Bryanston',
 'Checkers LS Nicolway',
 'DIS-CHEM NICOLWAY - CK',
 'EASYJET*EASYJET ERMXKM-',
 'UBER   *ZA JAN UIBP',
 'Clicks Wingtip',
 'WOOLWORTHS GRAYSTONE',
 'ZARA SANDTON CITY',
 'GUESS SANDTON',
 'BWH FOURWAYS          YS',
 'Checkers Leaping Frog',
 'MF - BURGER KING - EAS',
 'MYTHOS MALL OF AFRICA',
 'ADIDAS MALL OF AFRICA HOM',
 'CALTEX CEDAR ROAD',
 'WOOLWORTHS MALL OF A',
 'UBER   *ZA JAN BWBZQ',
 'UBER   *ZA JAN ZXHQ',
 'UBER   *ZA JAN DYCSP',
 'Spar Village Mall Spar',
 'WOOLWORTHS BLAIRGOWRIEIE',
 'BWH FOURWAYS',
 'I AFRIHOST.COM',
 'AMAZON SERVICES-KINDLE',
 'CHECKERS HYPER SANDTON',
 'GRAYSTON DRIVE BP',
 'www.flymango.com',
 'CAPE UNION MART- HYDE AR',
 'ENGEN CONRAD CONVENIENCE',
 'Spar Broadacres Spar',
 'Clicks Broad Acres',
 'MTN ROSEBANK',
 'DIS-CHEM KILLARNEY MAL',
 'PnP Crp Killarney',
 'KULULA COM',
 'ALZU PETROPORT N',
 'TOTAL WILLIAM NICOL',
 'Debonairs Be',
 'PNP CLAREMONT',
 'SHELL SANDHURST DELI SION',
 'UBER   *ZA JAN GVAQX',
 'UBER   *ZA JAN BYHPT',
 'UBER   *ZA JAN AZR',
 'TYPO SANDTON    _RE',
 'UBER NG MMGD HELP.UBE',
 'UBER NG SOP HELP.UBE',
 'UBER ZA JAN YIQS HE',
 'BP SMIT STREET',
 'PnP Fam Outspan Road',
 'BP LINDEN PA',
 'PnP Crp Kensington',
 'FOOD LOVERS MARKET B',
 'Cltx Cyrildene S S    ION',
 'VIRGIN ACTIVE',
 'KAUAI BRYANSTON VIRG',
 'UBER ZA JAN MRCG HE',
 'WOOLWORTHS GRAND AVE',
 'BP WILLIAM NIC',
 'MR PRICE APPAREL',
 'UBER   *ZA JAN RPSSI',
 'UBER   *ZA JAN EINO',
 'WOOLWORTHS OR TAMBO',
 'GAUTRAIN SANDTON TVM',
 'ENGEN NELMAPIUS',
 'ACKERMANS SAND',
 'SHELL ULTRA CITY NOR',
 'WOOLWORTHS PAULSHOF',
 'EXCLUSIVE BOOKS HYDE',
 'UBER ZA JAN EUQ HE',
 'Checkers Sandton',
 'SHELL SUNNY MOTORS',
 'STEERS ULTRA N',
 'KFC EMMARENTIA',
 'STER KINEKOR CRESTA',
 'GAME CRESTA',
 'Spar LemonGroveKwk Spa',
 'Spar Olivedale',
 'Clicks Oliveda',
 'PNP- OLIVE DALE',
 'UBER ZA JAN HCGYP HE',
 'COTTON ON SANDTON COC',
 'WOOLWORTHS WATERMEYE',
 'MOOI TOLL PLAZ',
 'DIS-CHEM NICOLWAY',
 'TOTAL VILLAGE-C',
 'DIY DEPOT DOUGLASDAL',
 'STARBUCKS ROSEBANK',
 'STER KINEKOR THEATRE',
 'PNP BENMORE',
 'PNP CLOTHING ROSEBANK M',
 'TOTAL BRYANS',
 'WOOLWORTHS HYD',
 'BP RIDGE OAS',
 'Numetro Hyde',
 'UBER ZA JAN ZLVZ HE',
 'Checkers Nicolway',
 'KAUAI JUICE EXPRESS',
 'Fournos Rosebank      K',
 'WIMPY RESTAURANT HARRI',
 'WOOLWORTHS MORNINGSIDE',
 'BP OLIVEDALE',
 'N SASOL RETAIL',
 'DALPARK PLAZA',
 'GOSFORTH EAST PLAZA',
 'CRAZY PLASTICS RANDB',
 'SUPERSPAR MO',
 'UBER ZA JAN ZZSCA HELP.',
 'DIS-CHEM VICTORY PARK',
 'KAUAI BENMORE',
 'ETIHADAIR',
 'Amazon Services-Kindle',
 'SPAR LOS ARCOS',
 'KENDAL MICA',
 'UBER SA HELP.U',
 'Radisson Blu Edwardian Be',
 'VIDA E CAFFE LANSERI',
 'PnP Fam Louis Botha',
 'WOOLWORTHS CR/TRENERY S',
 'PICK N PAY FAMILY COSMO',
 'WOOLWORTHS SANDTON C',
 'PNP COACHMANS CROSSI',
 'UBER   *ZA JAN EOZH',
 'TOTAL SANDTON DRIVE',
 'SPORTSMANS WAREHOUSE',
 'DIS-CHEM WOODMEAD',
 'Spar Parkmore Tops',
 'TOTAL BOSCHKOP',
 'SASOL RANDBURG',
 'SASOL OLIVEDALE',
 'BP ZOO LAKE GARAGE',
 'MUGG AND BEAN BROADACRLUT',
 'WOOLWORTHS MIDDELBUR',
 'WOOLWORTHS CR/TRENERY',
 'COTTON ON SANDTON COC UAR',
 'UBER   *ZA JAN QZD',
 'UBER ZA JAN HNTMF HE',
 'WOOLWORTHS- BRYAN PA',
 'UBER ZA JAN PGSVC HE',
 'UBER   *ZA JAN SXQP',
 'UBER   *ZA JAN ZNJU',
 'UBER   *ZA JAN EPQEF',
 'MCD Sandton R & R ()',
 'CALTEX LOUIS BOTHA',
 'THE CAPITAL ON BATH']

In [ ]:
dn=datetime.now()
m=dn.month
d=dn.day
y=dn.year
savestr= f'{y:0}'+f'{m:02}'+f'{d:02}'
df=pd.DataFrame()
for collectionname in collectionlist:
#     print('-----------------------------------------------------------------------------')
    print('===== now doing collection: {collectionname} ====================================='.format(collectionname=collectionname))
    period=collectionname[-6:]
    print('Doing period: {period}'.format(period=period))
    collection=client.behaviourdb[collectionname]
    print('Collect data:')    
    agg_df=client_agg_fn(collection)
    print('Set index:')    
    agg_df.set_index(['companyindex','companyname'],inplace=True)
    print('Rename columns:')        
    agg_df.rename(columns={'transactionamount':'amount_{period}'.format(period=period),
                      'transactioncount':'count_{period}'.format(period=period)}, inplace=True)
    if df.empty:
        print('The history is still empty!')
        df=agg_df.copy()
    else:
        print('Merge new data with (non-empty) history:')        
        df=df.merge(agg_df, right_index=True,left_index=True, how='outer')
    print('Save (new) history:')
    df.to_csv(df.to_csv('/home/christo/data/companydb_aggregated_pivot_{savestr}.csv'.format(savestr=savestr)))

In [ ]:
savestr

In [ ]:
df.to_csv('/home/christo/data/companydb_aggregated_pivot_{savestr}.csv'.format(savestr=savestr))

In [ ]:
collection = client.lookups['aggregated_company_spend']
df.reset_index(inplace=True)
collection.insert_many(df.to_dict('records'))