In [1]:
import sys
sys.path.insert(0, '/home/christo/notebooks/christo/prod/')
sys.path.insert(0, '/home/christo/notebooks/christo/company_maintenance_scripts/')
import re
import pandas as pd
from NedbankSpendPy import  client
import time
from datetime import datetime

In [2]:
from nedbank_companies_addition_lib import maxindexfn, mongo_regex_searchstring
from nedbank_companies_addition_lib import nedbankcompany_class_check, classlookupfn, input_dict_fn, mongo_regex_searchstring_row
from nedbank_companies_addition_lib import  nedbank_companies_db, regex_searchstring

In [3]:
def franchise_agg_fn(collection):
    return pd.DataFrame(
    list(collection.aggregate([{'$match':
                                                        {
                                                            'companyname':
                                                            {
                                                                '$exists':True
                                                            }
                                                        }
                                                       },
                                                       {'$project':{
                                                           'companyname':1,
                                                           'franchisename':1,
                                                           'Dedupegroup':1,
#                                                            'companyindex':1,
                                                           'TransactionAmount':1}},
                                                       {
                                                           '$group':
                                                           {
                                                               '_id':
                                                               {
                                                                   'companyname':'$companyname',
                                                                   'franchisename':'$franchisename'
                                                               },
                                                               "uniqueclientlist":{"$addToSet":'$Dedupegroup'},
                                                               "transactioncount":
                                                               {
                                                                   '$sum': 1
                                                               },
                                                               "transactionamount":
                                                               {
                                                                   '$sum':'$TransactionAmount'
                                                               }
                                                           }
                                                       },
                                                       {'$project':{'_id':0,'companyname':'$_id.companyname',
                                                                    'franchisename':'$_id.franchisename',
#                                                                     'companyindex':'$_id.companyindex',
                                                                    'n_uniqueclients':{'$size': "$uniqueclientlist"},
                                                                   'transactioncount':1,
                                                                   'transactionamount':1}}
                                                      ], allowDiskUse=True)))

In [4]:
collectionlist=['clientswipes_201701','clientswipes_201702','clientswipes_201703',
                'clientswipes_201704','clientswipes_201705','clientswipes_201706',
                'clientswipes_201707','clientswipes_201708','clientswipes_201709',
                'clientswipes_201710','clientswipes_201711','clientswipes_201712',
                'clientswipes_201801','clientswipes_201802','clientswipes_201803',
                'clientswipes_201804','clientswipes_201805','clientswipes_201806',
                'clientswipes_201807','clientswipes_201808','clientswipes_201809',
                'clientswipes_201810','clientswipes_201811','clientswipes_201812',                
                'clientswipes_201901','clientswipes_201902','clientswipes_201903',
                'clientswipes_201904','clientswipes_201905','clientswipes_201906',
                'clientswipes_201907','clientswipes_201908','clientswipes_201909',
                'clientswipes_201910','clientswipes_201911','clientswipes_201912'
               'clientswipes_202001']

### Create a NEW pivot in aggregated_franchise_spend for ALL the periods listed above:

In [ ]:
write_collection = client.lookups['aggregated_franchise_spend']
dn=datetime.now()
m=dn.month
d=dn.day
y=dn.year
savestr= f'{y:0}'+f'{m:02}'+f'{d:02}'
# df=pd.DataFrame()
for collectionname in collectionlist:
#     print('-----------------------------------------------------------------------------')
    print('===== now doing collection: {collectionname} ====================================='.format(collectionname=collectionname))
    period=collectionname[-6:]
    print('Doing period: {period}'.format(period=period))
    read_collection=client.behaviourdb[collectionname]
    print('Collect data:')    
    agg_df=franchise_agg_fn(read_collection)
    print('Set index:')    
#     agg_df.set_index(['companyindex','companyname'],inplace=True)
    print('Rename columns:')        
    agg_df.rename(columns={'transactionamount':'amount_{period}'.format(period=period),
                      'transactioncount':'count_{period}'.format(period=period),
                          'n_uniqueclients':'n_uniqueclients_{period}'.format(period=period)}, inplace=True)
#     if df.empty:
#         print('The history is still empty!')
#         df=agg_df.copy()
#     else:
#         print('Merge new data with (non-empty) history:')        
#         df=df.merge(agg_df, right_index=True,left_index=True, how='outer')
    print('Save (new) history:')
#     agg_df.reset_index(inplace=True)
    agg_df['extracted_date']=savestr
    write_collection.insert_many(agg_df.to_dict('records'))
#     df.to_csv(df.to_csv('/home/christo/data/companydb_franchiselevel_aggregated_pivot_{savestr}.csv'.format(savestr=savestr)))

### Investigate companies from the franchise pivot collection:

In [5]:
read_collection = client.lookups['aggregated_franchise_spend']

In [10]:
df=pd.DataFrame(list(read_collection.find({'companyname':'BP', 'amount_201912':{'$exists':True}},{'_id':0})))

In [11]:
df.sort_values(["n_uniqueclients_201912"], ascending = False)

,amount_201912,companyname,count_201912,extracted_date,franchisename,n_uniqueclients_201912
1447,-1022944.54,BP,3068,20200305,BP RIDGE OAS,2613
159,-1129521.13,BP,3216,20200305,BP AIRPORT,2479
228,-1046274.23,BP,2963,20200305,BP BEYERS NA,2395
1178,-1161959.02,BP,2121,20200305,BP MONTE,1756
336,-1026261.93,BP,2166,20200305,BP CAPE TOWN,1505
655,-1162918.13,BP,2586,20200305,BP FAIRWAYS,1442
576,-847796.88,BP,1961,20200305,BP EDENVALE,1416
1746,-962080.57,BP,2146,20200305,BP WATERFALL,1395
1357,-992890.91,BP,1942,20200305,BP PINELANDS,1331
1311,-1077534.21,BP,2076,20200305,BP OLIVEDALE,1296
1336,-762186.17,BP,2259,20200305,BP PAARL,1282
337,-680807.53,BP,1888,20200305,BP CAPRICORN,1212
259,-594028.20,BP,1734,20200305,BP BOULEVARD,1176
533,-879346.13,BP,1617,20200305,BP DISA,1156
1380,-463331.07,BP,1847,20200305,BP PROSPECTO,1153
1082,-555494.38,BP,1364,20200305,BP M OASIS,1140
1659,-489487.07,BP,1715,20200305,BP THORNTREE,1121
845,-450210.51,BP,1526,20200305,BP HIGHWAY,1096
1374,-386711.54,BP,1449,20200305,BP PROMENADE,1085
356,-612447.98,BP,1582,20200305,BP CAVENDISH,1080
1412,-597353.31,BP,2057,20200305,BP RAISETHOR,1067
1411,-882214.41,BP,1662,20200305,BP RADIOKOP,1032
1767,-609537.44,BP,1715,20200305,BP WELGELEE,1029
1256,-808715.54,BP,1365,20200305,BP NEWLANDS,1028
1666,-692917.07,BP,1377,20200305,BP TOM JONES,1003
933,-901550.07,BP,1484,20200305,BP KENRIDGE,999
1425,-700640.84,BP,1406,20200305,BP RANDHART,999
1676,-526571.66,BP,1446,20200305,BP TRIO,995
304,-586432.25,BP,1316,20200305,BP BRYANSTON,977
567,-376205.40,BP,1412,20200305,BP EBONY PAR,955
...,...,...,...,...,...,...
857,-600.00,BP,1,20200305,BP HILLBROW FCOURT HI,1
770,-67.50,BP,1,20200305,BP GRAYSTON DR,1
774,-237.84,BP,1,20200305,BP GREENACRES SHOP,1
775,-275.35,BP,1,20200305,BP GREENAWAYS,1
778,-600.00,BP,1,20200305,BP GROBLERSDAL GR,1
780,-837.00,BP,4,20200305,BP GROVE AUTO,1
787,-780.00,BP,1,20200305,BP Gallo Manor,1
792,-1142.26,BP,1,20200305,BP HABERDEN CO,1
795,-1045.68,BP,1,20200305,BP HALFWAY GARDENS MI,1
798,-1133.91,BP,1,20200305,BP HAMILTON STH,1
803,-100.00,BP,1,20200305,BP HAMPSON AUT,1
805,-1159.29,BP,1,20200305,BP HANK,1
841,-396.07,BP,1,20200305,BP HELDERBERG UN,1
854,-184.20,BP,1,20200305,BP HILLBROW C STORE,1
860,-107.40,BP,1,20200305,BP HILLCREST CONV SHOP,1
898,-608.78,BP,1,20200305,BP JOHNSTONE R,1
861,-133.70,BP,1,20200305,BP HILLS GARAG,1
864,-1713.72,BP,1,20200305,BP HILTON,1
865,-800.00,BP,1,20200305,BP HIRE AND SUPPLY S,1
868,-849.39,BP,1,20200305,BP HOBART AIRPORT,1
869,-341.07,BP,1,20200305,BP HOOFDDORP,1
872,-450.00,BP,1,20200305,BP HOWICK FALL,1
874,-359.23,BP,1,20200305,BP HUIZUM,1
875,-400.00,BP,1,20200305,BP Heidelberg,1
876,-1320.00,BP,1,20200305,BP IC CACEM,1
881,-49.86,BP,1,20200305,BP INGLISTON F/STN,1
882,-1538.01,BP,2,20200305,BP IRYMPLE,1
894,-804.45,BP,2,20200305,BP JINDABYNE,1
896,-133.50,BP,1,20200305,BP JOHNSTON ROAD,1
2224,-106.80,BP,3,20200305,tsafrikabpcapeto,1

In [ ]:
read_collection = client.lookups['aggregated_franchise_spend']
df=pd.DataFrame(list(read_collection.distinct('extracted_date')))

In [ ]:
df[0][0]

In [ ]:
collection=client.behaviourdb['clientswipes_201701']
df=pd.DataFrame(list(collection.distinct('franchisename',{'companyname':'BOLT'})))

In [ ]:
list(df)

In [ ]:
flist=list(df[0])

In [ ]:
set(flist)

In [ ]:
collection=client.lookups['nedbank_companies']
df=pd.DataFrame(list(collection.find({'companyname':'BOLT'})))

In [ ]:
avoidlists=df.avoidlists[0]
aliases=df.aliases[0]

In [ ]:
{1,2, 7,8,9,10}-{1,2,3,4,5,6}

In [ ]:
aliases_set=set(aliases)
aliases_set.intersection(set(avoidlists))

In [ ]:
list(set(flist))

In [ ]:
set(flist)-set(avoidlists)

In [ ]:
avoidlists.sort()

In [ ]:
avoidlists

In [ ]:
flist.sort()
flist